.carolina-blue {
	color: #2376A1;
} 

img {
  max-width: 100%;
  height: auto;
}

/*Details and Summary
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.summary-header {
  font-size: 1.4em;
}

details > ul {
  margin-left: 2em;
}

.many-details {
  font-size: 1em;
}

.many-details > details > summary{
  font-size: 1em;
  font-weight: 600;
}

summary:focus {
  background: #cfe8f4;
  outline: none !important;
}

.many-details > details > ul > li{
  margin-bottom: 0;
}

/*Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: rgb(67, 74, 86);;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: rgb(238, 238, 238);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-sizing: border-box; 
    outline: none;
  }
  .button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover {
    background-color: rgb(204, 204, 204);
  }
  .button:focus,
  button:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus,
  input[type="button"]:focus {
    outline: 2px dotted rgb(238, 238, 238);
  }
  .button:active,
  button:active,
  input[type="submit"]:active,
  input[type="reset"]:active,
  input[type="button"]:active {
    transform: translateY(1px);
    /* filter: saturate(150%); */
  }
  .button.button-primary,
  button.button-primary,
  input[type="submit"].button-primary,
  input[type="reset"].button-primary,
  input[type="button"].button-primary {
    color: #FFF;
    background-color: #4B9CD3;
  }
  .button.button-primary:hover,
  button.button-primary:hover,
  input[type="submit"].button-primary:hover,
  input[type="reset"].button-primary:hover,
  input[type="button"].button-primary:hover,
  .button.button-primary:focus,
  button.button-primary:focus,
  input[type="submit"].button-primary:focus,
  input[type="reset"].button-primary:focus,
  input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #007FAE;
   }

/*Search
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.search-div {
  text-align:center;
}

/*Main Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  /* position: relative;
  width: 100%;
  box-sizing: border-box;  */

  padding: 0 20px;
  max-width: 960px;
  margin: 0 auto;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  }

  .content {
    flex:1;
  }

  /*Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0px 20px 0px;
  border-top: 1px solid #E1E1E1; 
  padding-top: 1em;
}

.logo {
  flex-basis: 440px;
  margin-bottom: 1em;
  margin-right: 10px;
}

.contact {
  margin-left: auto;
}

.sharing {
  text-align: right;
}

@media (max-width: 715px) {
  
  .sharing {
    text-align: center;
  }

  .contact {
    /* flex-basis: 275px; */
    margin-left: inherit;
  }

}

/*Physician AOP Table
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.physician-group-row {
  background-color:#31a354;
}

.physician-groups td:first-child {
  padding-left: 10px;
}

.physician-group {
  color: #fff;

}

  /* Links
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  a {
    color: #007FAE; }
  a:hover {
    color: #005879; }

/*Thumbnail Cards
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumb-wrapper {
  border-radius: .25rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
  position: relative;
  transition: all .15s ease;
  box-sizing: border-box;
  background-color: #fff;
}

.thumb-wrapper-small {
  flex-basis: 275px;
  margin: 0.6em;
}

.thumb-main {
  margin: auto;
  width: 50%;
}

@media (max-width: 715px) {
  .thumb-main {
    margin: auto;
    width: 80%;
  }

}

.thumb-wrapper:hover {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
  transform: translateY(-1px);
}

.thumb-title-wrapper {
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
  border-color: #e2e5e9;
  border-top-style: solid;
  border-top-width: 1px;
}

.thumb-title-link {
  font-size: 1.5rem;
  text-decoration: none;
  padding-left: .5rem;
  padding-right: .5rem;
  color: #1b1e23;
  display: flex;
}
.thumb-title{
  margin-right: .5rem;
  padding-top: .5rem;
  padding-bottom: .25rem;
}


/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header-logo {
  padding: 2% 20% 2% 20%;
}

/* Navigation Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

 /* Remove margins and padding from the list, and add a white background color */
ul.topnav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    border-top: 1px solid #E1E1E1; 
    border-bottom: 1px solid #E1E1E1; 
  }

/* Float the list items side by side */
ul.topnav li {float: left; margin-bottom: 0;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color:  #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #f4f4f4;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}


 /* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }

}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}