.carolina-blue {
	color: #2376A1;
} 

.byline {
  color: #666666;
  border-top: 1px solid #E1E1E1;
  padding-top: 5px;
  display: inline-block;
}

/*Details and Summary
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.summary-header {
  font-size: 1.4em;
}

details > ul {
  margin-left: 2em;
}

.many-details {
  font-size: 1em;
}

.many-details > details > summary{
  font-size: 1em;
  font-weight: 600;
}

summary:focus {
  background: #cfe8f4;
  outline: none !important;
}

.many-details > details > ul > li{
  margin-bottom: 0;
}

/*Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: rgb(67, 74, 86);;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: rgb(238, 238, 238);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-sizing: border-box; 
    outline: none;
  }
  .button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover {
    background-color: rgb(204, 204, 204);
  }
  .button:focus,
  button:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus,
  input[type="button"]:focus {
    outline: 2px dotted rgb(238, 238, 238);
  }
  .button:active,
  button:active,
  input[type="submit"]:active,
  input[type="reset"]:active,
  input[type="button"]:active {
    transform: translateY(1px);
    /* filter: saturate(150%); */
  }
  .button.button-primary,
  button.button-primary,
  input[type="submit"].button-primary,
  input[type="reset"].button-primary,
  input[type="button"].button-primary {
    color: #FFF;
    background-color: #4B9CD3;
  }
  .button.button-primary:hover,
  button.button-primary:hover,
  input[type="submit"].button-primary:hover,
  input[type="reset"].button-primary:hover,
  input[type="button"].button-primary:hover,
  .button.button-primary:focus,
  button.button-primary:focus,
  input[type="submit"].button-primary:focus,
  input[type="reset"].button-primary:focus,
  input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #007FAE;
   }

/*Search
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.search-div {
  text-align:center;
}

/*Main Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  /* position: relative;
  width: 100%;
  box-sizing: border-box;  */

  padding: 0 20px;
  max-width: 960px;
  margin: 0 auto;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  }

  .content {
    flex:1;
  }

  .blog {
    flex:1;
    max-width: 720px;
    margin-left: auto;
    margin-right:auto;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .title {
    font-weight: 600;   
    border-bottom: 2px dotted #E1E1E1;
    margin-bottom: 10px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .title > h5 {
    font-weight: 600;
    margin-bottom: 5px;
  }

  /*Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0px 20px 0px;
  border-top: 1px solid #E1E1E1; 
  padding-top: 1em;
}

.logo {
  flex-basis: 440px;
  margin-bottom: 1em;
  margin-right: 10px;
}

.contact {
  margin-left: auto;
}

.sharing {
  text-align: right;
}

@media (max-width: 715px) {
  
  .sharing {
    text-align: center;
  }

  .contact {
    /* flex-basis: 275px; */
    margin-left: inherit;
  }

}

/*Physician AOP Table
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.physician-group-row {
  background-color:#31a354;
}

.physician-groups td:first-child {
  padding-left: 10px;
}

.physician-group {
  color: #fff;

}

  /* Links
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  a {
    color: #007FAE; }
  a:hover {
    color: #005879; }

/*Thumbnail Cards
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumb-wrapper {
  border-radius: .25rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
  position: relative;
  transition: all .15s ease;
  box-sizing: border-box;
  background-color: #fff;
}

.thumb-wrapper-small {
  flex-basis: 275px;
  margin: 0.6em;
}

.thumb-main {
  margin: auto;
  width: 80%;
}

@media (max-width: 715px) {
  .thumb-main {
    margin: auto;
    width: 100%;
  }

}

.thumb-wrapper:hover {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
  transform: translateY(-1px);
}

.thumb-title-wrapper {
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
  border-color: #e2e5e9;
  border-top-style: solid;
  border-top-width: 1px;
}

.thumb-title-link {
  font-size: 1.5rem;
  text-decoration: none;
  padding-left: .5rem;
  padding-right: .5rem;
  color: #1b1e23;
  display: flex;
}
.thumb-title{
  margin-right: .5rem;
  padding-top: .5rem;
  padding-bottom: .25rem;
}


/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* .header-logo {
  padding: 0px 16px;
} */

/* Navigation Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.Navbar {
  display: flex;
  padding: 16px 0px;
  font-family: sans-serif;
}

.Navbar__Link a {
  /* display: inline-block; */
  padding: 10px 16px;
  color:  #000000;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

#Navbar__Link-brand a {
  padding:0px;
}

.Navbar__Items {
  display: flex;
}

.Navbar__Items--right {
  margin-left:auto;
}

.Navbar__Items--right.Navbar__Items a:hover {
  background-color: #f4f4f4;
}

.Navbar__Link-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
    padding: 0px;
  }

.Navbar__Items {
    display:none;
  }

  .Navbar__Link {
    margin:5px;
  }
.Navbar__Items--right {
    margin-left:0;
  }

.Navbar__ToggleShow {
    display: flex;
  }

.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   } 
}

