<IfModule mod_headers.c>
   SetEnvIfNoCase Origin "https?://(www\.)?(nchealthworkforce\.unc\.edu|gallowayevan\.static\.observableusercontent\.com|hpds-dept-healthworkforce\.cloudapps\.unc\.edu)(:\d+)?$" ACAO=$0
   Header set Access-Control-Allow-Origin %{ACAO}e env=ACAO
</IfModule>